*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 70px;
    position: relative;
    min-height: 100vh;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#brand{
    color: #37F3FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#brand > img{
    margin-left: 20px;
}
.bg-blue{
    background-color: #24305E;
}
.bg-white{
    background-color: #fff;
}
/* purple : #965ccd */
.text-purple{
    color: #4650aa;
}
.bg-purple{
    background-color: #3c4595;
}
.navlink{
    float: right;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #8ca5ec;

}
.navlink:hover{
    color: #b7ceff;
    text-decoration: underline;
    text-underline-position: under;
}
#about{
    background: #F76C6C;
    padding: 70px;
}
#info{
    font-family: Varela;
    color: #fff;
    margin: auto;
    font-size: 54px;
}
#registerbtn{
    background-color:#FFF6D6;
}
#mainhead{
    text-align: center;
}
#leftcol{
    display: inline-block;
    text-align: left;
}
#demovid{
    margin: auto;
}
#ytvid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
#ytvid > iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
#features > h2{
    color: rgb(18, 56, 139);
    margin-bottom: 20px;
    font-weight: 300;
}
#features{
    margin-top: 30px;
    text-align: center;
}
#features h3{
    font-weight: 400;
    /* Create span inside h3 then use for the half background color effect-
    background-image: linear-gradient(180deg,#fff,#fff,#fff,#37F3FF); */
}
#pswd_reg,#pswd_login{
    border-right: 0px solid;
}
/* .no-border{
    border: 0px solid;
    background: none;
} */

@media (max-width:992px){
    #about{
        padding: 30px 10px 30px 10px;
    }
    #leftcol{
        margin-top: 30px;
    }
    #ytvid{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}