*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
button:hover{
    opacity: 0.9;
}
.btn:active,.btn:focus{
    outline: none;
    box-shadow: none;
}
body{
    position: relative;
    min-height: 100vh;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#brand{
    color: #37F3FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#brand > img{
    margin-left: 20px;
}
.bg-blue{
    background-color: #24305E;
}
.bg-white{
    background-color: #fff;
}
/* purple : #965ccd */
.text-light-blue{
    color: #4650aa;
}
.bg-light-blue{
    background-color: #3c4595;
}
/* [TODO : Add link in navbar of home.html to home_customer.html and vice versa.] */
 .navlink{
    float: right;
    padding-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #94b7dd;

}
.navlink:hover{
    color: #cff8fb;
    text-decoration: underline;
    text-underline-position: under;
}
#about{
    background: #F76C6C;
    padding: 70px;
}
#info{
    font-family: Varela;
    color: #fff;
    margin: auto;
    font-size: 54px;
}
#registerbtn{
    background-color:#FFF6D6;
}
#mainhead{
    text-align: center;
}
#leftcol{
    display: inline-block;
    text-align: left;
}
#demovid{
    margin: auto;
}
#ytvid{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
#ytvid > iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
#features > h2{
    color: rgb(18, 56, 139);
    font-weight: 300;
}
#features,#viewOnlyVenues{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
/* #venues{
    background-color: #b7d8f7;
} */

#features h3{
    font-weight: 400;
}
/* Create span inside h3 then use for the half background color effect-
    background-image: linear-gradient(180deg,#fff,#fff,#fff,#37F3FF); */
#pswd_reg,#pswd_login{
    border-right: 0px solid;
}
.venue > div{
    border-radius: 5px;
}
  
.tag{
border-radius: 30px; 
display: inline-block;
padding: 4px 9px 4px 9px;
margin-top: 1px;
margin-bottom: 1px;
}

.tag-occupied{
background-color: #fff3d3; 
}

.tag-free{
background-color: #cffae9;
}

.tag-booked{
background-color: #ffe1d3;
}

.calendar {
    box-shadow: 0 3px 8px rgb(180, 179, 179);
    margin: 20px 0 5px 0;
}

.month {
    width: 100%;
    height: 70px;
    background-color: #59c8fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.month i {
    font-size: 25px;
}

.days,
#dayscontainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #222222;
    text-align: center;
}

.days>span,
#dayscontainer button {
    padding: 10px 0px 10px 0px;
    color:white;
}

.future,.past{
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid #222222;
}

.future:hover {
    border: 1px solid rgb(245, 77, 127);
}

.past {
    color: #808080 !important;
}

#next,
#prev {
    background-color: inherit;
}

#bookVenue{
    border: 2px solid #02ceb9;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    
}

#bookVenueBtn{
    background-color: #00a090;
}

.cardpink-bg{
    background-color: #fbeaee;
}
.cardpink-btn{
    background-color: #c44460;
}
.cardpurple-bg{
    background-color: #fceefc;
}
.cardpurple-btn{
    background-color: #7d3d8d;
}

@media (max-width:992px){
    #about{
        padding: 30px 10px 30px 10px;
    }
    #leftcol{
        margin-top: 30px;
    }
    #ytvid{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}